<head>
    <title>Ikemen</title>
    <meta name="twitter:card" content="summary_large_image" />
    <meta property="og:title" content="ikemen" />

    <meta property="og:image" content="https://saruwakakun.com/wp-content/uploads/2016/11/IMG_9160.jpeg" />

  </head>
<body>

create したよ。

reloadしても再度は見れないよ！！
ここで、twitter投稿。
<%= @page.text %>
<%= @page.params_id %>


<% case @page.params_id%>
	<% when 2 then %>
	<%= image_tag 'danbo.png' %>
	<% when 3 then %>
	<%= image_tag 'danbo2' %>
	<% when 4 then %>
	<%= image_tag 'blackman' %>
	<% when 5 then %>
	<%= image_tag 'danbo2' %>
<%end %>

<a href="http://twitter.com/share?text=<%= @page.text %>&url=https://chocolates-bomb.herokuapp.com" src="/assets/twitter_btn.png"&hashtags=【ハッシュタグ】" data-url="https://chocolates-bomb.herokuapp.com" onClick="window.open(encodeURI(decodeURI(this.href)), 'tweetwindow', 'width=650, height=470, personalbar=0, toolbar=0, scrollbars=1, sizable=1'); return false;" rel="nofollow"><img src="/assets/danbo-46c26031aa0cb15b1026d3f5c4c9685829b8012a9b152b431549e4d5a49c65f9.png"  alt="ツイート" width="50" height="50" /></a>
</body>
