create したよ。

ここで、twitter投稿。
<%= @page.text %>
<%= @page.params_id %>

<% if @page.params_id == 2 %>
    <%= image_tag 'danbo.png' %>
	<% elsif @page.params_id == 3 %>
	<%= image_tag 'danbo2' %>
	<% elsif @page.params_id == 4 %>
	<%= image_tag 'blackman' %>
<% end %>


<a href="https://twitter.com/share?ref_src=twsrc%5Etfw" class="twitter-share-button" data-show-count="false" data-text="<%= @page.text %> " data-url="https://ikemenquestions.herokuapp.com" src="/assets/twitter_btn.png">Tweet</a>
					<script async src="https://platform.twitter.com/widgets.js" charset="utf-8"></script>
					</section>

<a href="http://twitter.com/share?text=<%= @page.text %>&url=https://chocolates-bomb.herokuapp.com src="/assets/twitter_btn.png"&hashtags=【ハッシュタグ】"data-url="https://chocolates-bomb.herokuapp.com" onClick="window.open(encodeURI(decodeURI(this.href)), 'tweetwindow', 'width=650, height=470, personalbar=0, toolbar=0, scrollbars=1, sizable=1'); return false;" rel="nofollow"><img src="/assets/danbo.jpg"  alt="ツイート" width="50" height="50" /></a>
