

ここに画像を貼る
<% if @pages.id == 2 %>
    <%= image_tag 'danbo.png' %>
	<% elsif @pages.id == 3 %>
	<%= image_tag 'danbo2' %>
	<% elsif @pages.id == 4 %>
	<%= image_tag 'blackman' %>
<% end %>

<!-- pages/<%= @pages.id %> -->

    <%= form_for(@pages,url: {:action => 'create'}) do |f| %>
		<%= f.text_field :name, placeholder: "twitterのユーザー名"%>
	<p class="caution-txt">※変換される言葉</p>
	<input type="submit" value="SENT">
	<% end %>
<!-- 条件分岐で画像の表示を変更することも可能なのではないか！！！！！ -->
<!--
if show/id == 3
 img3
 elsif show == 4
 img4
 end みたいな -->
