<!DOCTYPE html>
<html>
  <head>
    <title>Ikemen</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <meta name="twitter:card" content="summary_large_image" />
    <meta property="og:title" content="ikemen" />
    <%if @page.params_id? %>
      <% case @pages.id%>
        <% when 2 then %>
        <meta property="og:image" content="https://ikemenquestions.herokuapp.com/assets/danbo-46c26031aa0cb15b1026d3f5c4c9685829b8012a9b152b431549e4d5a49c65f9.png" />
        <% when 3 then %>
        <meta property="og:image" content="https://ikemenquestions.herokuapp.com/assets/danbo2-53e77ee200c3b77d6b3970e87e4298bce66ce804c485d0f838a26c3885ef0135.jpg" />
        <% when 4 then %>
          <meta property="og:image" content="https://ikemenquestions.herokuapp.com/assets/blackman-237afb020b63d9a50b4ac81caa36c05d38804baeadf019044f341c835abd73cc.png" />
        <% when 5 then %>
        <meta property="og:image" content="https://ikemenquestions.herokuapp.com/assets/danbo2-53e77ee200c3b77d6b3970e87e4298bce66ce804c485d0f838a26c3885ef0135.jpg" />
      <%end %>
    <% else %>
      <meta property="og:image" content="https://saruwakakun.com/wp-content/uploads/2016/11/IMG_9160.jpeg" />
    <% end %>
  </head>

  <body>
    <%= yield %>
  </body>
</html>
