<!DOCTYPE html>
<html>
  <head>
    <title>Ikemen
    </title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <meta name="twitter:card" content="summary_large_image" />
    <meta property="og:url" content="https://ikemenquestions.herokuapp.com/page/4/create">
    <meta property="og:title" content="ikemenio" />

      <meta property="og:image" content="https://ikemenquestions.herokuapp.com/assets/blackman-237afb020b63d9a50b4ac81caa36c05d38804baeadf019044f341c835abd73cc.png" />

  </head>

  <body>
    <%= yield %>
  </body>
</html>
