<!DOCTYPE html>
<html>
  <head>
    <title>Ikemenui
    </title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
   <meta name="twitter:card" content="summary_large_image" />
    <meta property="og:type" content="article">
    <meta property="og:title" content="ikemo" />

      <meta property="og:image" content="https://ikemenquestions.herokuapp.com/assets/blackman-237afb020b63d9a50b4ac81caa36c05d38804baeadf019044f341c835abd73cc.png" />
aaa
  </head>

  <body>
    <%= yield %>
  </body>
</html>
